@using MovieApplication.Application.Entidade
@model List<Movie> 

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table">
    <tr>
        <td>Id Filme</td>
        <td>Nome</td>
        <td>Data de Lançamento</td>
        <td>Genero</td>
        <td>Preço</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.ReleaseDate</td>
            <td>@item.Genre</td>
            <td>@item.Price</td>
        </tr>
    }
</table>
