@using MovieApplication.Entidade
@model List<Movie> 

<table class="table">
    <tr>
        <td>Id Filme</td>
        <td>Nome</td>
        <td>Data de Lançamento</td>
        <td>Genero</td>
        <td>Preço</td>
        <td>Ação</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.ReleaseDate</td>
            <td>@item.Genre</td>
            <td>@item.Price</td>
            <td>
                <a asp-action="Detail" asp-controller="Movie" asp-route-movieId="@item.Id">Ver Detalhes</a>
            </td>

        </tr>
    }
        
</table>

